<style>
  .subscription-stats {
    width: 300px;
    margin-bottom: 15px;
  }
  .manually-unsubscribed {
    color: red;
  }
</style>

<table class="subscription-stats generaltable ">
  <tr>
    <td>Subscribed Teachers</td>
    <td>{{ subscribed_count }}</td>
  </tr>
  <tr>
    <td>Teachers unsubscribed by default</td>
    <td>{{ teachers | length - manually_unsubscribed_count - subscribed_count }}</td>
  </tr>
  <tr class="manually-unsubscribed">
    <td>Teachers who unsubscribed themselves</td>
    <td>{{ manually_unsubscribed_count }}</td>
  </tr>
</table>

<div>
  <button {% if subscribed_count == teachers | length - manually_unsubscribed_count %} disabled {% endif %} onclick='location.href="?action=subscribe"'>Subscribe All</button>
  <button {% if subscribed_count == 0 %} disabled {% endif %} onclick='location.href="?action=unsubscribe"'>Unsubscribe All</button>
  <button {% if manually_unsubscribed_count == 0 %} disabled {% endif %} class="manually-unsubscribed"
    onclick='if(confirm("Do you really want to force subscribe all?")) location.href="?action=force_subscribe_all"'>
    Force Subscribe All
  </button>

</div>

<table class="generaltable">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Subscription Status</th>
    <td>Unsubscribe</td>
    <td>Subscribe</td>
  </tr>
{% for teacher in teachers %}
  <tr>
    <td>{{ teacher.firstname}} {{ teacher.lastname }}</td>
    <td>{{ teacher.email }}</td>
    <td>
      {% if teacher.subscribed == 'email' %}
        Subscribed
      {% elseif teacher.subscribed == 'unsubscribed' %}
        <span class="manually-unsubscribed">Unsubscribed (By Choice)</span>
      {% else %}
        Unsubscribed (By Default)
      {% endif %}
    </td>
    <td>
      <button onclick='location.href="?action=unsubscribe&force=1&teacher_id={{ teacher.id }}"' {% if teacher.subscribed != 'email' %} disabled {% endif %}>Unsubscribe</button>
    </td>
    <td>
      <button onclick='location.href="?action=subscribe&force=1&teacher_id={{ teacher.id }}"' {% if teacher.subscribed == 'email' %} disabled {% elseif teacher.subscribed == 'unsubscribed' %} class="manually-unsubscribed" {% endif %}>Subscribe</button>
    </td>
  </tr>
{% endfor %}
</table>

