<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Event Analysis</title>
  <meta name="generator" content="Bootply"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="../tests/event_analysis/css/bootstrap.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="../tests/event_analysis/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <br><br>

  <div class="row">
    {% if invalid_dates %}
      <div class="alert alert-warning">
        Enter valid dates inputs
      </div>
    {% else %}
      <div class="alert alert-info">
        Query took {{ time_taken | number_format(4) }} seconds ({{ (time_taken / 60) | number_format(1) }} min)
      </div>
    {% endif %}
  </div>
  <!-- upper section -->
  <div style="text-align: center;">

    <form class="form-inline" action="" method="GET"><br>

      <h3>Time Frame:</h3>
      <input class="form-control" value="{{ formatted_date_start }}" name="cc_start" type="text"/>
      <input class="form-control" value="{{ formatted_date_end }}" name="cc_end" type="text"/>
      <button class="form-control" type="submit">Show</button>
    </form>
    <br>

    <table class="table table-striped" style="margin: 0 auto">
      <thead>
      <tr>
        <th>Action</th>
        <th>Weekly Occurrences Per Student</th>
        <th>Percent of Occurrences</th>
      </tr>
      </thead>
      <tbody>
      {% for action in events %}
        <tr>
          <td>{{ action.name }} {{ action.started }}</td>
          <td>{{ (action.occurrences / student_count)  | number_format(3) }}</td>
          <td>{{ (action.occurrences / total_event_count * 100)  | number_format(2) }}%</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <!--/col-span-9-->
  </div>
  <!--/row-->
</div>
<!--/container-->
<!-- /Main -->

<!-- script references -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="../tests/event_analysis/js/bootstrap.min.js"></script>
</body>
</html>
