<style>
  body {
    color: #000;
    padding: 0;
    margin: 0;
    background: #fff;
  }

  .content {
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  }

  .message {
    color: #333;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
  }

  .last-login {
    color: #828282;
    font-size: 12px;
  }

  .course-container {
    padding: 20px;
    background: #edfbff;
    overflow: auto;
    margin-bottom: 30px;
  }

  .course-name {
    text-decoration: underline;
    color: #eb571c;
    font-weight: bold;
    font-size: 27px;
  }

  .indicator-container {
    margin-top: 10px;
    position: relative;
  }

  .indicator {
    width: 300px;
    margin: 10px 30px 0 0;
    float: left;
  }

  .indicator-title {
    display: block;
    font-weight: bold;
    color: #4c4c4c;
    margin-bottom: 5px;
  }

  .indicator-box {
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #bff2ff;
    background: #fff;
    border-radius: 2px;
  }

  .indicator-box-half {
    text-align: center;
    float: left;
    width: 145px;
    box-sizing: border-box;
  }

  .indicator-box-half:last-child {
    float: right;
  }

  .indicator-box-empty {
    font-weight: bold;
    color: #b1b1b1;
  }

  .item-name {
    color: inherit;
    font-weight: bold;
    font-size: 16px;
  }

  a.item-name {
    color: #000;
    text-decoration: underline;
  }

  a.item-name:visited {
    color: #828282;
  }

  .item-subtext-area {
    font-weight: bold;
    font-size: 12px;
  }

  .item-subtext-label {
    margin-left: 5px;
    display: inline-block;
    color: #828282;
  }

  .item-subtext-value {
    display: inline-block;
    color: #5d5d5d;
  }

  .item-subtext-label:first-of-type {
    margin-left: 0;
  }

  .ungraded-submissions-title {
    font-size: 13px;
    margin-top: 20px;
    color: #666666;
    font-weight: bold;
  }

  .student-table {
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
  }

  .student-table .student-name {
    color: #282828;
  }

  .student-table .date {
    text-align: right;
    color: #5d5d5d;
  }

  .unsubscribe-instructions {
    color: #5d5d5d;
    font-size: 11px;
    padding: 20px;
  }

  .unsubscribe-title {
    font-weight: bold;
    color: #333333;
  }

  .unsubscribe-settings-link {
    color: inherit;
    font-weight: bold;
  }
</style>

<div class="content">
  <div class="message">
    <p>Hello,</p>
    <p>here is your weekly course report</p>
    <p class="last-login">
      Last Login: <b>{{ last_login | date("m / d / Y") }}</b>
    </p>
  </div>
  {% for course in courses %}
    <div class="course-container">
      <a target="_blank" href="{{ course.get_link() }}" class="course-name">{{ course.name }}</a>

      <div class="indicator-container">
        <div class="indicator">
          <div class="indicator-title">Ungraded Assignments</div>
          {% if course.assignments %}
          {% for assignment in course.assignments %}
          <div class="indicator-box">
            <a target="_blank" href="http://google.com" class="item-name">{{ assignment.name }}</a>

            <div class="item-subtext-area">
              <div class="item-subtext-label">Due Date:</div>
              <div class="item-subtext-value">{{ assignment.time_due | date("m / d / Y") }}</div>
            </div>
            <div class="ungraded-submissions-title">Ungraded Submissions:</div>
            <table class="student-table" cellpadding="0" cellspacing="0">
              {% for submission in assignment.submissions %}
              <tr>
                <td class="student-name">{{ submission.student_name }}</td>
                <td class="date">{{ submission.time_created | date("m / d / Y") }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
          {% endfor %}
          {% else %}
            <div class="indicator-box indicator-box-empty">None</div>
          {% endif %}
        </div>
        <div class="indicator">
          <div class="indicator-title">Unread Discussions</div>
          {% if course.discussions %}
          {% for discussion in course.discussions %}
          <div class="indicator-box">
            <a target="_blank" href="{{ discussion.get_link() }}" class="item-name">{{ discussion.name }}</a>

            <div class="item-subtext-area">
              <div class="item-subtext-label">Posts:</div>
              <div class="item-subtext-value">{{ discussion.post_count }}</div>

              <div class="item-subtext-label">Created:</div>
              <div class="item-subtext-value">{{ discussion.time_created | date("m / d / Y") }}</div>
            </div>
          </div>
          {% endfor %}
          {% else %}
            <div class="indicator-box indicator-box-empty">None</div>
          {% endif %}
        </div>
        <div class="indicator">
          <div class="indicator-title">Student Engagement Scores</div>
          <div class="indicator-box indicator-box-half">
            <div class="item-name">This Week</div>
            <table class="student-table" cellpadding="0" cellspacing="0">
              {% for student in course.students_in_table_format() %}
              <tr>
                <td class="student-name">{{ student['this_week']['name'] }}</td>
                <td class="date">{{ student['this_week']['logins'] }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <div class="indicator-box indicator-box-half">
            <div class="item-name">Average</div>
            <table class="student-table" cellpadding="0" cellspacing="0">
              {% for student in course.students_in_table_format() %}
                <tr>
                  <td class="student-name">{{ student['course_average']['name'] }}</td>
                  <td class="date">{{ student['course_average']['logins'] }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="unsubscribe-instructions">
    <div class="unsubscribe-title">How to Unsubscribe:</div>
    Go to <a target="_blank" href="{{ message_settings_link }}" class="unsubscribe-settings-link">Message Settings</a>, uncheck <i>[[messageprovider:course_reports]]</i>
    emails, then click <b>Update Profile</b>
  </div>
</div>

