<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <!--
    This template was created by Campaign Monitor (campaignmonitor.com)
    It was available as a free email template 3 March 2015
   -->
  <title>{{ 'course_report' | i18n }}</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
</head>

<body>

<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td valign="top" align="center" id="top" class="outer" background="images/bg_body.gif">
      <table class="texttopbottom" cellpadding="0" cellspacing="0" align="center" width="600">
        <tr>
          <td valign="top"><img src="images/blank.gif" width="1" height="8" alt=""/></td>
        </tr>
        <tr>
          <td style="background: url(images/bg_top.png) no-repeat;"><img src="images/blank.gif" width="1" height="12"
                                                                         alt=""/></td>
        </tr>
      </table>
      <table cellpadding="0" cellspacing="0" align="center" width="600"
             style="background: url(images/bg_email_rightcol.png);">
        <tr>
          <td rowspan="4" valign="top"><img src="images/blank.gif" width="15" height="1" alt=""/></td>
          <td rowspan="4" valign="top"><img src="images/header_strip.gif" alt="" width="20" height="249"/></td>
          <td rowspan="3" valign="top"><img src="images/header_l.gif" alt="" width="405" height="184"/></td>
          <td bgcolor="#fbfdfd" colspan="2" width="100" height="26"><img src="images/blank.gif" width="100" height="26"
                                                                         alt=""/></td>
          <td rowspan="4" valign="top"><img src="images/header_r.gif" alt="" width="45" height="249"/></td>
          <td rowspan="4" valign="top"><img src="images/blank.gif" width="15" height="1" alt=""/></td>
        </tr>
        <tr>
          <td valign="top"><img src="images/header_mbsbg.gif" width="16" height="79" alt=""/></td>
          <td valign="top" width="84" align="left" class="date" height="79"></td>
        </tr>
        <tr>
          <td colspan="2"><img src="images/header_m.gif" alt="" width="100" height="79"/></td>
        </tr>
        <tr>
          <td style="background: url(images/bg_title.gif) no-repeat;" background="images/bg_title.gif" valign="bottom"
              colspan="3" height="65" align="left">
            <h1>
              Course Report
            </h1>
          </td>
        </tr>
        <tr>
          <td colspan="7" align="left">
            <table background="images/topbot_rightcol.gif" style="background: url(images/topbot_rightcol.gif)"
                   cellpadding="0" cellspacing="0" width="600" align="left">
              <tr>
                <td class="last-login">
                  Your last login:
                  <b>{{ course['last-accessed'] | date("m/d/y") }}</b>
                </td>
              </tr>
              {% for course in courses %}
                <tr>
                  <td valign="top" width="360">
                    <table cellpadding="0" cellspacing="0" width="360" class="whitecol">
                      <tr>
                        <td valign="top" width="15" rowspan="3"><img src="images/title_rightsinglecol_blue1.gif" alt=""
                                                                     width="15" height="56"/></td>
                        <td bgcolor="#eaf4f7" valign="top" width="21" rowspan="3"><img src="images/title_blue2.gif"
                                                                                       alt=""
                                                                                       width="21" height="56"/></td>
                        <td bgcolor="#eaf4f7"><img src="images/blank.gif" alt="" width="1" height="20"/></td>
                        <td bgcolor="#eaf4f7" rowspan="4"><img src="images/blank.gif" alt="" width="5" height="1"/></td>
                      </tr>
                      <tr>
                        <td bgcolor="#eaf4f7" valign="top" width="319">
                          <h2>{{ course.name }}</h2>

                          <div class="last-course-accessed">
                            Last accessed by you:
                            <b>{{ course['last-accessed'] | date("m/d/y") }}</b>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td bgcolor="#eaf4f7" valign="top" class="border">
                          <div class="student-engagement-table-container">
                            <table class="student-engagement" cellpadding="0" cellspacing="0">
                              <tr>
                                <th></th>
                                <th>{{ 'name' | i18n }}</th>
                                <th>{{ 'last_login' | i18n }}</th>
                                <th>{{ 'activity_level' | i18n }}</th>
                              </tr>
                              {% for student in course.sort_students_by_score() %}
                                <tr class="student-row">
                                  <td><img src="images/bullet_white.gif" alt=""/></td>
                                  <td>{{ student['name'] }}
                                    <br>
                                    <b>{{ student['email'] }}</b>
                                  </td>
                                  <td>{{ student['last_login'] | date("m/d/y") }}</td>
                                  {#<td>{{ student['score_percentage'] * 50 }}</td>#}
                                  <td>
                                    {% for i in 1..((student['score_percentage'] * 5) | number_format) %}&#9733;{% endfor %}
                                  </td>
                                </tr>
                              {% endfor %}
                            </table>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td valign="top" width="15">&nbsp;</td>
                        <td bgcolor="#eaf4f7" colspan="2" valign="top" align="right" class="backtotop"><a
                            href="#top">{{ 'back_to_top' | i18n }}</a></td>
                      </tr>
                    </table>

                  </td>
                  <td valign="top" width="240" class="todo-items">
                    {% if course.assignments %}
                      <table cellpadding="0" cellspacing="0" width="240" class="bluecol">
                        <tr>
                          <td valign="top" width="15" rowspan="2"><img src="images/title_rightcol_red1.gif" alt=""
                                                                       width="15" height="36"/></td>
                          <td bgcolor="#d3e7eb" valign="top" width="20" rowspan="2"><img src="images/title_red2.gif"
                                                                                         alt=""
                                                                                         width="20" height="36"/></td>
                          <td bgcolor="#d3e7eb" valign="bottom" width="175">
                            <h2>{{ 'ungraded_assignments' | i18n }}</h2>
                          </td>
                          <td bgcolor="#d3e7eb" rowspan="2"><img src="images/blank.gif" alt="" width="15" height="1"/>
                          </td>
                          <td rowspan="2"><img src="images/blank.gif" alt="" width="15" height="1"/></td>
                        </tr>
                        <tr>
                          <td bgcolor="#d3e7eb" valign="top" class="border">
                            {% for assignment in course.assignments %}
                              <p>
                                <img src="images/bullet_blue.gif" alt="" width="11" height="12" class="inline"/>
                                {{ assignment.name }} <b>x {{ assignment.submission_count }}</b>
                                <a target="_blank" href="{{ assignment.get_link() }}">{{ 'grade_now' | i18n }}</a>
                              </p>
                            {% endfor %}
                          </td>
                        </tr>
                      </table>
                    {% endif %}

                    {% if course.discussions %}
                      <table cellpadding="0" cellspacing="0" width="240" class="bluecol">

                        <tr>
                          <td valign="top" width="15" rowspan="2"><img src="images/title_rightcol_red1.gif" alt=""
                                                                       width="15" height="36"/></td>
                          <td bgcolor="#d3e7eb" valign="top" width="20" rowspan="2"><img src="images/title_red2.gif"
                                                                                         alt=""
                                                                                         width="20" height="36"/></td>
                          <td bgcolor="#d3e7eb" valign="bottom" width="175">
                            <h2>{{ 'unread_forum_posts' | i18n }}</h2>
                          </td>
                          <td bgcolor="#d3e7eb" rowspan="2"><img src="images/blank.gif" alt="" width="15" height="1"/>
                          </td>
                          <td rowspan="2"><img src="images/blank.gif" alt="" width="15" height="1"/></td>
                        </tr>
                        <tr>
                          <td bgcolor="#d3e7eb" valign="top" class="border">
                            {% for discussion in course.discussions %}
                              <p>
                                <img src="images/bullet_blue.gif" alt="" width="11" height="12" class="inline"/>
                                {{ discussion.name }}
                                <a target="_blank" href="{{ discussion.get_link() }}">{{ 'read_now' | i18n }}</a>
                              </p>
                            {% endfor %}
                          </td>
                        </tr>
                      </table>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </table>
            <table class="texttopbottom" cellpadding="0" cellspacing="0" align="center" width="600">
              <tr>
                <td colspan="3" style="background: url(images/bg_bottom.png) no-repeat;"><img src="images/blank.gif"
                                                                                              width="1"
                                                                                              height="12" alt=""/></td>
              </tr>
              <tr>
                <td rowspan="2"><img src="images/blank.gif" width="15" height="1" alt=""/></td>
                <td valign="top" align="center"
                    style="font-family: Verdana, Arial, sans-serif; color: #8d9ca4;font-size: 10px;margin: 0;">
                  <p>
                    <a target="_blank" href="{{ unsubscribe_link }}">{{ 'unsubscribe' | i18n }}</a> /
                    <a target="_blank" href="{{ unsubscribe_link }}?resubscribe=1">{{ 'resubscribe' | i18n }}</a>
                    &nbsp;
                    {{ 'trouble_viewing' | i18n }} <a target="_blank" href="{{ web_view_link }}">{{ 'go_to_web_view' | i18n }}</a>
                  </p>
                </td>
                <td rowspan="2"><img src="images/blank.gif" width="15" height="1" alt=""/></td>
              </tr>
              <tr>
                <td><img src="images/blank.gif" width="570" height="8" alt=""/></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
</table>
</body>
</html>
