<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <!--
    This template was created by Campaign Monitor (campaignmonitor.com)
    It was available as a free email template 3 March 2015
   -->
  <title>Course Report</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
</head>
<body>

<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td valign="top" align="center" id="top" class="outer" bgcolor="#3d4852" background="images/bg_body.gif">
      <table class="texttopbottom" cellpadding="0" cellspacing="0" align="center" width="600">
        <tr>
          <td valign="top"><img src="images/blank.gif" width="1" height="8" alt=""/></td>
        </tr>
        <tr>
          <td style="background: url(images/bg_top.png) no-repeat;"><img src="images/blank.gif" width="1" height="12"
                                                                         alt=""/></td>
        </tr>
      </table>
      <table cellpadding="0" cellspacing="0" align="center" width="600"
             style="background: url(images/bg_email_rightcol.png) repeat-y;">
        <tr>
          <td rowspan="4" valign="top"><img src="images/blank.gif" width="15" height="1" alt=""/></td>
          <td rowspan="4" valign="top"><img src="images/header_strip.gif" alt="" width="20" height="249"/></td>
          <td rowspan="3" valign="top"><img src="images/header_l.gif" alt="" width="405" height="184"/></td>
          <td bgcolor="#fbfdfd" colspan="2" width="100" height="26"><img src="images/blank.gif" width="100" height="26"
                                                                         alt=""/></td>
          <td rowspan="4" valign="top"><img src="images/header_r.gif" alt="" width="45" height="249"/></td>
          <td rowspan="4" valign="top"><img src="images/blank.gif" width="15" height="1" alt=""/></td>
        </tr>
        <tr>
          <td valign="top"><img src="images/header_mbsbg.gif" width="16" height="79" alt=""/></td>
          <td valign="top" width="84" align="left" class="date" height="79"></td>
        </tr>
        <tr>
          <td colspan="2"><img src="images/header_m.gif" alt="" width="100" height="79"/></td>
        </tr>
        <tr>
          <td style="background: url(images/bg_title.gif) no-repeat;" background="images/bg_title.gif" valign="bottom"
              colspan="3" height="65" align="left">
            <h1>
              Course Report
            </h1>
          </td>
        </tr>
        <tr>
          <td colspan="7" align="left">
            <table cellpadding="0" cellspacing="0" width="600" align="left">
              <tr>
                <td colspan="2"><img src="images/topbot_rightcol.gif" width="600" height="14" alt=""/></td>
              </tr>
              <tr>
                <td>
                  <div class="student-engagement-label">
                    Student Engagement Scores
                  </div>
                  <div class="score-description">
                    <b>What does the score mean?</b><br>
                    A student's engagement score indicates how active a student has been in a particular course.
                  </div>
                </td>
                <td valign="top" width="240">
                  <table cellpadding="0" cellspacing="0" width="240" class="bluecol">
                    <tr>
                      <td valign="top" width="15" rowspan="2"></td>
                      <td bgcolor="#d3e7eb" valign="top" width="20" rowspan="2"></td>
                      <td valign="bottom" width="135">
                        <div class="todo-list-label">Course TODO List</div>
                        <div class="todo-disclaimer">
                          <p><i>Includes Assignments and Forum Posts only</i></p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              {% for course in courses %}
                <tr>
                  <td valign="top" width="360">
                    <table cellpadding="0" cellspacing="0" width="360" class="whitecol">
                      <tr>
                        <td valign="top" width="15" rowspan="3"><img src="images/title_rightsinglecol_blue1.gif" alt=""
                                                                     width="15" height="56"/></td>
                        <td bgcolor="#eaf4f7" valign="top" width="21" rowspan="3"><img src="images/title_blue2.gif"
                                                                                       alt=""
                                                                                       width="21" height="56"/></td>
                        <td bgcolor="#eaf4f7"><img src="images/blank.gif" alt="" width="1" height="20"/></td>
                        <td bgcolor="#eaf4f7" rowspan="4"><img src="images/blank.gif" alt="" width="5" height="1"/></td>
                      </tr>
                      <tr>
                        <td bgcolor="#eaf4f7" valign="top" width="319"><h2>{{ course.name }}</h2></td>
                      </tr>
                      <tr>
                        <td bgcolor="#eaf4f7" valign="top" class="border">
                          <table class="student-engagement">
                            <tr>
                              <th></th>
                              <th>Name</th>
                              <th>Email</th>
                              <th>This<br>Week</th>
                              <th>All<br>Time</th>
                            </tr>
                            {% for student in course.students_by_score_this_week() %}
                              <tr>
                                <td><img src="images/bullet_white.gif" alt=""/></td>
                                <td>{{ student['name'] }}</td>
                                <td class="selectable">{{ student['email'] }}</td>
                                <td>{{ student['score_course_average'] }}</td>
                                <td>3</td>
                              </tr>
                            {% endfor %}
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td valign="top" width="15">&nbsp;</td>
                        <td bgcolor="#eaf4f7" colspan="2" valign="top" align="right" class="backtotop"><a href="#top">Back
                            to top</a></td>
                      </tr>
                    </table>

                  </td>
                  <td valign="top" width="240">
                    <p><!-- for spacing --></p>
                    <p><!-- for spacing --></p>

                    {% if course.assignments %}
                      <table cellpadding="0" cellspacing="0" width="240" class="bluecol">
                        <tr>
                          <td valign="top" width="15" rowspan="2"><img src="images/title_rightcol_red1.gif" alt=""
                                                                       width="15" height="36"/></td>
                          <td bgcolor="#d3e7eb" valign="top" width="20" rowspan="2"><img src="images/title_red2.gif"
                                                                                         alt=""
                                                                                         width="20" height="36"/></td>
                          <td bgcolor="#d3e7eb" valign="bottom" width="175">
                            <h2>Assignments to Grade</h2>
                          </td>
                          <td bgcolor="#d3e7eb" rowspan="2"><img src="images/blank.gif" alt="" width="15" height="1"/>
                          </td>
                          <td rowspan="2"><img src="images/blank.gif" alt="" width="15" height="1"/></td>
                        </tr>
                        <tr>
                          <td bgcolor="#d3e7eb" valign="top" class="border">
                            {% for assignment in course.assignments %}
                              <p>
                                <img src="images/bullet_blue.gif" alt="" width="11" height="12" class="inline"/>
                                {{ assignment.name }} <b>x {{ assignment.submission_count }}</b>
                                <a target="_blank" href="{{ assignment.get_link() }}">Grade</a>
                              </p>
                            {% endfor %}
                          </td>
                        </tr>
                      </table>
                    {% endif %}

                    {% if course.discussions %}
                    <table cellpadding="0" cellspacing="0" width="240" class="bluecol">

                      <tr>
                        <td valign="top" width="15" rowspan="2"><img src="images/title_rightcol_red1.gif" alt=""
                                                                     width="15" height="36"/></td>
                        <td bgcolor="#d3e7eb" valign="top" width="20" rowspan="2"><img src="images/title_red2.gif"
                                                                                       alt=""
                                                                                       width="20" height="36"/></td>
                        <td bgcolor="#d3e7eb" valign="bottom" width="175">
                          <h2>Unread Forum Posts</h2>
                        </td>
                        <td bgcolor="#d3e7eb" rowspan="2"><img src="images/blank.gif" alt="" width="15" height="1"/>
                        </td>
                        <td rowspan="2"><img src="images/blank.gif" alt="" width="15" height="1"/></td>
                      </tr>
                      <tr>
                        <td bgcolor="#d3e7eb" valign="top" class="border">

                          {% for discussion in course.discussions %}
                          <p>
                            <img src="images/bullet_blue.gif" alt="" width="11" height="12" class="inline"/>
                            {{ discussion.name }}
                            <a target="_blank" href="{{ discussion.get_link() }}">Read</a>
                          </p>
                          {% endfor %}
                        </td>
                      </tr>
                    </table>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </table>
            <table class="texttopbottom" cellpadding="0" cellspacing="0" align="center" width="600">
              <tr>
                <td colspan="3" style="background: url(images/bg_bottom.png) no-repeat;"><img src="images/blank.gif"
                                                                                              width="1"
                                                                                              height="12" alt=""/></td>
              </tr>
              <tr>
                <td rowspan="2"><img src="images/blank.gif" width="15" height="1" alt=""/></td>
                <td valign="top" align="center"
                    style="font-family: Verdana, Arial, sans-serif; color: #8d9ca4;font-size: 10px;margin: 0;">
                  <p>
                    Not interested anymore?
                    <unsubscribe>Unsubscribe Instantly</unsubscribe>
                    .
                  </p>
                </td>
                <td rowspan="2"><img src="images/blank.gif" width="15" height="1" alt=""/></td>
              </tr>
              <tr>
                <td><img src="images/blank.gif" width="570" height="8" alt=""/></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
</table>
</body>
</html>
